*{
    margin:0;
    padding:0;
    border:0;
    list-style:none;
}
body{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 0 200px;
    background-color: #ccc;
    text-indent: 10px;
    line-height: 30px;
    
    
}
h1{
   color: #000;
   font-size: 24px;
   font-style: italic;
   text-align: center;
}
article h2{
    background-color:#000;
    border-radius:10px;
}
h2{
    color:#FFF;
   padding:10px 0 10px 6px;
}
figure{
    text-align: center;
}
.foto{
    border: 8px double #000;
}
figure img.foto{
width:17%;
}
main article{
    margin: 50px 0;
}